*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    background: #fafafa;
    display: flex;
    justify-content: center;
}

.feed_list {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.feed_layout{
    border: 1px solid gray;
    border-radius: 2px;
    margin: 20px 0px;
}

.feed_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user_layout{
    display: flex;
    align-items: center;
}

.feed_user_profile_img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100px;
    background: url("https://miro.medium.com/max/1224/1*9aSeZirg0yCdpiyHqJZBwQ.jpeg") no-repeat;
    background-size: cover;
    border: 1px solid pink;
}

.user_layout p{
    font-weight: 700;
}

.feed_body_header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.body_header_left_layout{
    padding-left: 10px;
}

.body_header_right_layout{
    padding-right: 10px;
}

.body_header_left_layout i{
    padding-right: 5px;
}